<main class="flex-1 relative overflow-y-auto focus:outline-none">
    <div class="py-6">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
            <!-- Replace with your content -->
            <div class="py-4">
                <div class="mt-10 sm:mt-0">
                    <div class="md:grid md:grid-cols-3 md:gap-6">
                        <div class="md:col-span-1">
                            <div class="px-4 sm:px-0">
                                <h3 class="text-lg font-semibold leading-6 text-gray-900">Edit User
                                </h3>
                                <p class="mt-1 text-sm text-gray-600">
                                    Silahkan masukkan data user baru
                                </p>
                            </div>
                        </div>
                        <div class="mt-5 md:mt-0 md:col-span-2">
                            <form action="/user-gamer/edits" method="POST">
                                <div class="shadow overflow-hidden sm:rounded-md">
                                    <div class="px-4 py-5 bg-white sm:p-6">
                                        <div class="grid grid-cols-6 gap-6">
                                            <div class="col-span-6">
                                                <label for="username"
                                                    class="block text-sm font-medium text-gray-700">Username</label>
                                                <input type="text" name="username" id="username"
                                                    autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500
                                                block w-full shadow-sm sm:text-sm border-gray-300
                                                rounded-md" value=" <%= userGame.username %>  ">
                                                <input type="hidden" name="id" value=" <%= userGame.id %>  ">
                                            </div>

                                            <div class="col-span-6">
                                                <label for="password"
                                                    class="block text-sm font-medium text-gray-700">Password</label>
                                                <input type="text" name="password" id="password"
                                                    autocomplete="family-name"
                                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                                    value=" <%= userGame.password %>  ">
                                            </div>

                                            <div class="col-span-6">
                                                <label for="email" class="block text-sm font-medium text-gray-700">Email
                                                    address</label>
                                                <input type="text" name="email" id="email" autocomplete="email"
                                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                                    value=" <%= userGame.email %>  ">
                                            </div>


                                            <div class="col-span-6 md:col-span-3">
                                                <label for="nama" class="block text-sm font-medium text-gray-700">Nama
                                                    Lengkap</label>
                                                <input type="text" name="nama" id="nama" autocomplete="nama" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block
                                                    w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                                    value=" <%= userGame.nama %>">
                                            </div>

                                            <div class=" col-span-6 md:col-span-3">
                                                <label for="alamat"
                                                    class="block text-sm font-medium text-gray-700">Alamat</label>
                                                <input type="text" name="alamat" id="alamat" autocomplete="alamat"
                                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                                    value=" <%= userGame.alamat %>">
                                            </div>

                                            <div class="col-span-6 md:col-span-3">
                                                <label for="umur"
                                                    class="block text-sm font-medium text-gray-700">Umur</label>
                                                <input type="text" name="umur" id="umur" autocomplete="umur"
                                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                                    value=" <%= userGame.umur %>">
                                            </div>

                                            <div class="col-span-6 md:col-span-3">
                                                <label for="nomor_telfon"
                                                    class="block text-sm font-medium text-gray-700">Nomor Telfon</label>
                                                <input type="text" name="nomor_telfon" id="nomor_telfon"
                                                    autocomplete="nomor_telfon"
                                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                                    value=" <%= userGame.nomor_telfon %>">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                                        <button type="submit"
                                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Edit User
                                        </button>
                                    </div>
                                </div>
                            </form>




                        </div>
                    </div>
                </div>

            </div>
            <!-- /End replace -->
        </div>
    </div>
</main>